{% extends 'base.html' %}
{% block content %}
<div id="home-container">
  <h1 id="home-header">Check24 App 💬</h1>

  {% if error %}
  <p id="error">{{ error }}</p>
  {% endif %}

  <form method="post" id="chat-widget-home">
    <div id="name-input">
      <label for="name">Enter your name</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Enter name"
        value="{{ name }}"
      />
    </div>
    <div>
      <label for="code" id="code-label">Enter chat room code</label>
      <input
        type="text"
        id="code"
        name="code"
        placeholder="Enter code"
        value="{{ code }}"
      />
      <button type="submit" id="join" name="join">Join</button>
    </div>
    <hr />

    <!-- Generate buttons for available rooms -->
    {% for room_code in available_rooms %}
    <button type="submit" name="join" value="{{ room_code }}">Join Room {{ room_code }}</button>
    {% endfor %}

    <button type="submit" id="create" name="create">Create Room</button>
  </form>
</div>
{% endblock %}
